<!doctype html>
<html lang="en" ng-app='ngApp'>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>gorelease</title>
	<link rel="icon" href="/favicon.png">
	<link rel="stylesheet" href="/3party/ng-notify.min.css">
    <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>

    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/components/angular/angular.min.js"></script>
    <script src="/components/ng-notify/dist/ng-notify.min.js"></script>
    <script src="/components/moment/moment.js"></script>

	<script src="/js/common.js"></script>
	<style>
		body { font-size: 14px; }
	</style>
</head>
