<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
	  <a class="navbar-brand" href="/">GoBuild</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-nav">
      <ul class="nav navbar-nav">
		<li><a href="/">Home</a></li>
		<li><a href="/build">Build</a></li>
		<!--<li><a href="/repos">Repos</a></li>-->
		<li><a href="/explore">Explore</a></li>
		<li class="visible-xs-*"><a href="https://github.com/gobuild/gorelease">Github</a></li>
      </ul>
    </div>
  </div>
</nav>
<script>
	$(function(){
		$("ul.nav>li>a").each(function(){
			var href = $(this).attr("href");
			if (location.pathname == href){
				$(this).parent("li").addClass("active");
			};
		});
	});
</script>
<!-- 
<div class="navbar navbar-warning">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">GoRelease</a>
		</div>
		<div class="navbar-collapse collapse navbar-warning-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li class="active"><a href="/token">Token</a></li>
				<li><a href="javascript:void(0)">Link</a></li>
				<li class="dropdown">
					<a href="index.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="javascript:void(0)">Action</a></li>
						<li><a href="javascript:void(0)">Another action</a></li>
						<li><a href="javascript:void(0)">Something else here</a></li>
						<li class="divider"></li>
						<li class="dropdown-header">Dropdown header</li>
						<li><a href="javascript:void(0)">Separated link</a></li>
						<li><a href="javascript:void(0)">One more separated link</a></li>
					</ul>
				</li> -->
			</ul>
			<!-- <form class="navbar-form navbar-left">
				<input type="text" class="form-control col-lg-8" placeholder="Search">
			</form> -->
			<!-- <ul class="nav navbar-nav navbar-right">
				<li><a href="javascript:void(0)">Link</a></li>
				<li class="dropdown">
					<a href="index.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="javascript:void(0)">Action</a></li>
						<li><a href="javascript:void(0)">Another action</a></li>
						<li><a href="javascript:void(0)">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="javascript:void(0)">Separated link</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div> -->
