{[template "base/header" .]}
<script src="/js/angular.min.js"></script>
<script src="/js/build.js"></script>

<body>
	{[template "base/nav" .]}
	<div class="container" ng-controller="MainCtrl">
		<p> user: {[.User.Name]}</p>
		<div class="input-group">
			<span class="input-group-addon">GRTOKEN</span>
			<input type="text" class="click-select form-control" value='{[.Token]}'>
        </div>
        <div>   
            <a href="https://travis-ci.org" target="_blank">Goto Travis</a>
        </div>
        <div>
            <h4>Example of <small>.gopack.yml</small></h4>
            <pre>author: shengxiang
description: '...'
includes:
  - README.md
  - LICENSE
  - conf
  - templates
  - public
excludes:
  - \.git
script:
  - godep go build</pre>
        </div>
		<div>
			<a href="/token?refresh=true" class="btn btn-info btn-xm">Refresh</a>
			<ul>
				<li ng-repeat='x in repos'>
					<a href="https://github.com/{{x.owner}}/{{x.repo}}">github</a>
					<a style="color: black" href="/{{x.owner}}/{{x.repo}}">{{x.owner}}/{{x.repo}}</a>
				</li>
			</ul>
		</div>
		<div id="footer">
			<a href="/">homepage</a>
			&copy;Powered by <a href="https://github.com/codeskyblue/gorelease">gorelease</a>
		</div>
	</div>
	{[template "base/analysis" .]}
	{[template "base/forkme" .]}

	<script>
	$(function(){
		$(document).on("click", "input.click-select", function(e) {
			$(e.target).select();
		});
	});
	</script>
</body>
</html>
