{[template "base/header" .]}
<script src="/js/build.js"></script>
<body>
	{[template "base/nav" .]}
	<div class="container" ng-controller="MainCtrl">
		<div class="row">
			<div class="col-md-6">
				<div>
					<div ng-show='loading'>
						Loading ...
					</div>
					<dl ng-show='!loading'>
						<dt>Username</dt>
						<dd>{{username}}</dd>
						<dt>Total</dt>
						<dd>{{repos.length}}</dd>
						<dt>Last update</dt>
						<dd>
							{{buildSinceLast}}
							<button ng-click='refresh()' class='btn btn-default btn-sm'>Refresh</button>
							<span>{{message}}</span>
						</dd>
					</dl>
				</div>
				<div>
					<div class="input-group">
						<span class="input-group-addon">
							Quick search
						</span>
						<input type="text" class="form-control" ng-model='search'/>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<table class="table">
					<tr>
						<th>Name</th>
						<th>Links</th>
						<th>Actions</th>
					</tr>
					<tr ng-repeat='x in repos | filter : search'>
						<td>
							<a style="color: black" href="/{{x.owner}}/{{x.repo}}">{{x.repo}}</a>
							<small>{{x.owner}}</small>
						</td>
						<td>
							<a href="/{{x.owner}}/{{x.repo}}">download</a>
						</td>
						<td>
							<button class="btn btn-default btn-sm" ng-click='build(x)'>Build</button>
						</td>
					</tr>
				</table>
			</div>
		</div>

		<div id="footer">
			<a href="/">homepage</a>
			&copy;Powered by <a href="https://github.com/codeskyblue/gorelease">gorelease</a>
		</div>
	</div>
	{[template "base/analysis" .]}
	<script>
	$(function(){
		$(document).on("click", "input.click-select", function(e) {
			$(e.target).select();
		});
	});
	</script>
</body>
</html>
