{[template "base/header" .]}
<script src="/js/explore.js"></script>
<body>
	{[template "base/nav" .]}
	<div class="container" ng-controller="MainCtrl">
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Official</th>
			</tr>
			<tr ng-repeat='x in repos | orderBy: "-download"'>
				<td><a href="/{{x.owner}}/{{x.repo}}">{{x.owner}}/{{x.repo}}</a></td>
				<td>{{x.offcial ? "true" : "false"}}</td>
			</tr>
		</table>
	</div>
	{[template "base/analysis" .]}
</body>
</html>
