{[template "base/header" .]}
<script src="/js/explore.js"></script>
<body>
	{[template "base/nav" .]}
	<div class="container" ng-controller="MainCtrl">
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Download</th>
			</tr>
			<tr ng-repeat='repo in repos | orderBy: "-download_count"'>
				<td><a href="/{{repo.name}}">{{repo.name}}</a></td>
				<td>{{repo.download_count}}</td>
			</tr>
		</table>

	</div>
	{[template "base/analysis" .]}
	{[template "base/forkme" .]}
</body>
</html>
