<div>
	<h4>Friendly Link</h4>
	<a href="http://www.qiniu.com">
		<img src="/qiniu-logo.png">
	</a>
	<a href="https://travis-ci.org/">travis-ci</a>
	<a href="https://gogs.io">Gogs <small>服务器由gogs团队友情赞助</small></a>
</div>
