<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>gorelease</title>
	<link rel="stylesheet" href="/common.css">
</head>
<body>
	<div id="page">
		<h1>gorelease</h1>
		<p>Welcome, see <a href="https://github.com/codeskyblue/gorelease">doc</a> for more information.</p>
		<div>
			<h2>Download address</h2>
			<p>qiniu subdomain name, ex: <code>dn-gobuild5.qbox.me</code></p>
			<p>your repo name, ex: <code>gorelease</code></p>
			<p>your repo branch, ex: <code>master</code></p>
			<p>Then your repo dist download address is 
				<a href="http://gorelease.herokuapp.com/dn-gobuild5.qbox.me/gorelease/master">http://gorelease.herokuapp.com/dn-gobuild5.qbox.me/gorelease/master</a>
			</p>
		</div>
		{{template "forkme" .}}
		{{template "analysis" .}}
	</div>
</body>
</html>
