{[template "base/header" .]}
<script src="/js/angular.min.js"></script>
<script src="/js/homepage.js"></script>
<body>
	{[template "base/nav" .]}
	<div class="container" ng-controller="MainCtrl">
		<div class="row">
			<div class="col-md-12">
				<p>Golang cross build your code in github and publish it.</p>
				<p>See <a href="https://github.com/codeskyblue/gorelease">doc</a> to join into gorelease</p>
			</div>
			<div class="col-md-12">
				<h2>Top Downloads</h2>
				<ul>
					<li><a href="//{[.Host]}/gorelease/gorelease">gorelease/<b>gorelease</b></li>
					<li><a href="//{[.Host]}/codeskyblue/gogs">codeskyblue/<b>gogs</b></li>
				</ul>
				<a href="/apps">More ...</a>
			</div>
			<hr>
			{[template "base/forkme" .]}
			{[template "footer" .]}
			{[template "base/analysis" .]}
		<div>
	</div>
</body>
</html>
