<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/common.css">
	<title>gorelease - {{.Name}}</title>
</head>
<body>
	<div id="page">
		<h1>gorelease</h1>
		<table>
			<tr>
				<th>GOOS</th>
				<th>GOARCH</th>
				<th>Op.</th>
			</tr>
			<tr>
				<td>linux</td>
				<td>amd64</td>
				<td>
					<a href="http://{{.Domain}}/gorelease/linux-amd64/{{.Name}}">Download</a>
				</td>
			</tr>
			<tr>
				<td>mac</td>
				<td>amd64</td>
				<td>
					<a href="http://{{.Domain}}/gorelease/darwin-amd64/{{.Name}}">Download</a>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>
