<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/common.css">
	<script src="/jquery.min.js"></script>
	<title>gorelease - {{.Name}}</title>
</head>
<body>
	<div id="page">
		<h1>{{.Name}} <small>{{.Branch}}</small></h1>
		<div class="build-info">
			<table>
				<tr>
					<th>pageview</th>
					<td>{{.PageView}}</td>
				</tr>
				<tr>
					<th>download</th>
					<td>{{.DlCount}}</th>
				</tr>
				<tr>
					<th>go version</th>
					<td><span id="goversion">unknown</span></td>
				</tr>
				<tr>
					<th>updated</th>
					<td><span id="update-at">unknown</span></td>
				</tr>
			</table>
		</div>
		<hr>
		<table>
			<tr>
				<th>GOOS</th>
				<th>GOARCH</th>
				<th>Op.</th>
			</tr>
			{{range .Pubs}}
			<tr>
				<td>{{.OS}}</td>
				<td>{{.Arch}}</td>
				<td>
					<a href="{{.Link}}">Download</a>
				</td>
			</tr>
			<!-- ref download page: https://ottoproject.io/downloads.html -->
			<!-- or this page: https://code.visualstudio.com/Download -->
			{{end}}
		</table>
		<div id="footer">
			<a href="/">homepage</a>
			&copy;Powered by <a href="https://github.com/codeskyblue/gorelease">gorelease</a>
		</div>
	</div>
	<script src="/components/moment/moment.js"></script>
	<script>
		$(function(){
			var $updateAt = $("#update-at");
			$.getJSON(location.protocol+"{{.BuildJSON}}")
				.success(function(res){
					var upTime = moment.unix(res.update_time);
					var fromNow = upTime.fromNow();
					$updateAt.text(fromNow);

					$("#goversion").text(res.go_version);
				})
				.error(function(res){
					$("div.build-info").hide();
				});
		});
	</script>
	{{template "analysis" .}}
</body>
</html>
