{{template "header" .}}
<script>
$(function(){
	$(document).on("click", "input.click-select", function(e) {
		$(e.target).select();
	});
});
</script>
<body>
	{{template "nav" .}}
	<div class="container">
        <h1>Token</h1>
		<p> user: {{.User.Name}}</p>
        <strong>GORELEASE_TOKEN</strong>
        <input type="text" class="click-select form-control" value='{{.Token}}'>
        <div>
        </div>
		<div>
			<a href="/token?refresh=true" class="btn btn-info btn-xm">Refresh</a>
			<ul>
				{{range .Repos}}
				<li>
					<a href="https://github.com/{{.Fullname}}">github</a>
					<a href="https://travis-ci.org/{{.Fullname}}/settings">travis</a>
					<a style="color: black" href="/{{.Fullname}}">{{.Fullname}}</a>
				</li>
				{{end}}
			</ul>
		</div>
		<div id="footer">
			<a href="/">homepage</a>
			&copy;Powered by <a href="https://github.com/codeskyblue/gorelease">gorelease</a>
		</div>
	</div>
	{{template "analysis" .}}
	{{template "forkme" .}}
</body>
</html>
