{[template "header" .]}
<script>
$(function(){
	$(document).on("click", "input.click-select", function(e) {
		$(e.target).select();
	});
});
</script>
<body>
	{[template "nav" .]}
	<div class="container">
		<p> user: {[.User.Name]}</p>
		<div class="input-group">
			<span class="input-group-addon">GRTOKEN</span>
			<input type="text" class="click-select form-control" value='{[.Token]}'>
        </div>
        <div>   
            <a href="https://travis-ci.org" target="_blank">Goto Travis</a>
            <p>After you enable your repo in travis, create two files <code>.travis.yml .gopack.yml</code> in your repo</p>
            <h4>Example of <small>.travis.yml</small></h4>
            <pre>language: go
go:
  - 1.5
script:
  - go test -v ./...
after_success:
  - bash -c "$(curl -fsSL http://bitly.com/gorelease)" gorelease</pre>
        </div>
        <div>
            <h4>Example of <small>.gopack.yml</small></h4>
            <pre>author: shengxiang
description: '...'
includes:
  - README.md
  - LICENSE
  - conf
  - templates
  - public
excludes:
  - \.git
script:
  - godep go build</pre>
        </div>
		<div>
			<a href="/token?refresh=true" class="btn btn-info btn-xm">Refresh</a>
			<ul>
				{[range .Repos]}
				<li>
					<a href="https://github.com/{[.Fullname]}">github</a>
					<a href="https://travis-ci.org/{[.Fullname]}/settings">travis</a>
					<a style="color: black" href="/{[.Fullname]}">{[.Fullname]}</a>
				</li>
				{[end]}
			</ul>
		</div>
		<div id="footer">
			<a href="/">homepage</a>
			&copy;Powered by <a href="https://github.com/codeskyblue/gorelease">gorelease</a>
		</div>
	</div>
	{[template "analysis" .]}
	{[template "forkme" .]}
</body>
</html>
